caption {
    font-size: 1.2rem;
}

table {
    border: 0.1rem solid;
}

section {
    background-color: lightpink;
}

container {
}

table.tab3 {
    width: 50%;
}

button.blue {
    font-size: 0.75em;
    font-weight: 700;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;

}
td.customer{

}

